
/* specifiche stilistiche ↑
--------------------------------
struttura del sito ↓
*/


body {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
}

.inv_logo {
  width: 100%;
  border: 1px solid #000;
}

.logo {
  width: 120px;
  border: 1px solid #000;
}

.autore1 {
  position: relative;
  border: 1px solid #000;
  width: 50%;
  padding-right: 2%;
}
.autore2 {
  position: relative;
  border: 1px solid #000;
  width: 50%;
}

.middle {
  border: 1px solid #000;
  width: 100%;
}

.descrizione {
  border: 1px solid #000;
  width: 15%;
  position: fixed;
  bottom: 1%;
}

.img_centrale {
  border: 1px solid #000;
  width: 65%;
  height: 100vh;
}

img {
  max-height: 100vh;
  max-width: 100%;
}

.pulsanti {
  border: 1px solid #000;
  width: 90%;
  float: right;
}

.mode {
  float: left;
}

.inv_credenziali {
  border: 1px solid #000;
  width: 90%;
  float: right;
  text-align: right;
}

.colonna1 {
  border: 1px solid #C0C0C0;
  width: 15%;
  position: fixed;
}

.colonna3 {
  border: 1px solid #C0C0C0;
  width: 15%;
  position: fixed;
  right: 1%;
}

.colonna3_1 {
  border: 1px solid #C0C0C0;
  width: 15%;
  position: fixed;
  right: 1%;
  bottom: 1%;
}

a {
  text-decoration: none;
}

/* struttura sito ↑
--------------------------------
design del menu ↓
*/

.menu {
  width: 80%;
  border-radius: 8px;
  overflow: hidden;
  min-width: 180px;
  
}

.item {
  border-top: 1px solid #18dcff;
  overflow: hidden;
}

.btn {
  display: block;
  padding: 16px 20px;
  background: #18c0eb;
  color: white;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #17c0eb;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.btn i {
  margin-right: 10px;
}

.smenu {
  background: pink;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.smenu a {
  display: block;
  padding: 16px 26px;
  color: white;
  margin: 4px 0;
  position: relative;
}

.smenu a::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #18dcff;
  left: 0;
  top: 0;
  transition: .3s;
  opacity: 0;
}

.smenu a:hover::before {
  opacity: 1;
}

.item:target .smenu {
  max-height: 10em;
}

/* design del menu ↑
--------------------------------
design dei pulsanti ↓
*/

label {
  box-sizing: border-box;
}

.label {
  background-color: #dd6258;
  display: flex;
  position: relative;
  height: 26px;
  width: 50px;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.fa-moon {
  color: #f9f9f9;
}

.fa-sun {
  color: #f9f9f9;
}

.ball {
  background-color: #ff887a;
  height: 18px;
  width: 18px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.15s linear;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

/* design dei pulsanti ↑
--------------------------------
darkmode ↓
*/

body.dark {
  background-color: #202124;
}

/* darkmode ↑
--------------------------------
 ↓
*/